.rural-revitalization {
  .rural-revitalization-content {
    display: flex;
    padding-top: 33px;

    .rural-revitalization-content-left {
      margin-left: 26px;
      position: relative;
      .rural-revitalization-item1 {
        background: url('.././../style/images/home/home1.png') no-repeat;
        background-size: 100% 100%;
        width: 288px;
        height: 862px;
        padding: 1px;
        .rural-revitalization-item1-content {
          height: 800px;
          overflow-y: auto;
          .rural-revitalization-item1-bottom-item {
            background: url('.././../style/images/home/home4.png') no-repeat;
            background-size: 100% 100%;
            width: 263px;
            height: 80px;
            margin-top: 16px;
            margin-left: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            .rural-revitalization-item1-bottom-item1 {
              width: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              .rural-revitalization-item1-bottom-item2 {
                width: 6px;
                height: 6px;
                background: #8CDAFF;
                border-radius: 50%;
              }
            }
            .rural-revitalization-item1-bottom-item3 {
              width: 233px;
              .rural-revitalization-item1-bottom-item4 {
                font-size: 18px;
                font-family: Source Han Sans CN;
                font-weight: bold;
                color: #FFFFFF;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                padding-right: 20px;
              }
              .rural-revitalization-item1-bottom-item5 {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                font-family: Source Han Sans CN;
                font-weight: 400;
                color: #5F8EB9;
                .rural-revitalization-item1-bottom-item6 {
                  padding-right: 20px;
                }
              }
              .rural-revitalization-item1-bottom-item5-active {
                color: #BE978D;
              }
            }
          }
          .rural-revitalization-item1-bottom-item-active {
            background: url('.././../style/images/home/home5.png') no-repeat;
            background-size: 100% 100%;
            width: 263px;
            height: 80px;
          }
        }
        .rural-revitalization-item1-content::-webkit-scrollbar {
          width: 1px;
          height: 16px;
          background-color: #F5F5F5;
        }
        /*定义滚动条轨道 内阴影+圆角*/
        .rural-revitalization-item1-content::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          background-color: #F5F5F5;
        }
        /*定义滑块 内阴影+圆角*/
        .rural-revitalization-item1-content::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
          background-color: #555;
        }
      }
      .rural-revitalization-content-left-tab {
        position: absolute;
        top: 364px;
        right: -24px;
        cursor: pointer;
      }
    }

    .rural-revitalization-content-right {
      width: 100%;
      padding-left: 31px;
      padding-right: 31px;
      .rural-revitalization-item2 {
        background: url('.././../style/images/home/home20.png') no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 862px;
        padding: 1px;
        overflow-y: auto;
        .rural-revitalization-item2-title {
          font-size: 28px;
          font-family: Source Han Sans CN;
          font-weight: bold;
          color: #FFFFFF;
          text-align: center;
          padding-top: 43px;
        }
        .rural-revitalization-item2-sourse {
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #5F8EB9;
          text-align: right;
          padding-top: 20px;
          span {
            padding-right: 20px;
          }
        }
        .rural-revitalization-item2-content {
          font-size: 18px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #FFFFFF;
          padding: 29px 20px 20px 20px;
          height: 690px;
          overflow-y: auto;
        }
      }
      .rural-revitalization-item2::-webkit-scrollbar {
        width: 1px;
        height: 16px;
        background-color: #F5F5F5;
      }
      /*定义滚动条轨道 内阴影+圆角*/
      .rural-revitalization-item2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }
      /*定义滑块 内阴影+圆角*/
      .rural-revitalization-item2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
      }
    }
    .rural-revitalization-item-title {
      font-size: 22px;
      font-family: Source Han Sans CN;
      font-weight: bold;
      color: #FFFFFF;
      padding-left: 21px;
    }
  }
}