.modal-detail {
  background: url('../../style/images/component/modal.png');
  width: 917px;
  height: 828px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  .modal-detail-title {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 70px;
    text-align: center;
  }

  .modal-detail-close {
    color: white;
    position: absolute;
    top: 4px;
    right: 6px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .modal-detail-content {
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 600px;

    .modal-detail-content-pic {
      text-align: center;
    }

    .modal-detail-content-pic2 {
      margin: 0 53px;
    }

    .modal-detail-content-title {
      color: #FFFFFF;
      text-align: center;
      font-size: 24px;
      margin-top: 70px;
    }
    .modal-detail-content-title2 {
      color: #FFFFFF;
      font-size: 20px;
      margin-top: 39px;
    }
    .modal-detail-content-title3 {
      color: #CDDCFF;
      font-size: 18px;
      padding-top: 36px;
      padding-left: 20px;
    }
    .modal-detail-content-p {
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #CDDCFF;
      text-indent: 2em;
    }
    .modal-detail-content-p1 {
      font-size: 18px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #CDDCFF;
      padding-top: 15px;
    }
    .modal-detail-content-img {
      text-align: center;
    }
    .modal-detail-content-center {
      text-align: center;
      color: white;
      padding: 35px 0;
      font-size: 18px;
    }

    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 1px;
    height: 16px;
    background-color: #F5F5F5;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }

}